body {
  margin: 3em;
  font-size: 2vw;
  color: #2c2719;
  background-color: #f5edd8;
  font-family: sans-serif;
}
a { color: #588e9c; }
li { list-style-type: disc; }
code { 
  font-size: 0.75em;
  background-color: #fbf9f2; 
  padding: 0.1em 0.3em; 
  border-radius: 0.1em;
}
