snippet @mm
	@media screen and (max-width: ${1:500}px) {
		${0}
	}
snippet xbc
	-webkit-column-count: ${1:3};
	-moz-column-count: ${2:3};
	column-count: ${3:3};
	-webkit-column-gap: ${4:30}px;
	-moz-column-gap: ${5:30}px;
	column-gap: ${0:30}px;

