snippet @mm
	@media screen and (max-width: ${1:500}px) {
		${0}
	}
snippet markdowncss
	body{font-family:sans-serif;font-size:2.5vw;color:midnightblue;background-color:ghostwhit;margin:3em;}a{color:dodgerblue;text-decoration:none;}
snippet drawer
	.drawer {
		--duration: 0.5s;
		display: grid;
		grid-template-rows: 0fr;
		overflow: hidden;
		transition: grid-template-rows var(--duration);
		.drawer-content {
			min-height: 0;
			visibility: hidden;
			transition: visibility var(--duration);
			input[type="checkbox"] {
				display: none;
			}
		}
	}
	.drawer:has(input:checked) {
		grid-template-rows: 1fr;
		.drawer-content {
			visibility: visible;
		}
	}
snippet columns
	grid-template-columns: repeat( ${1:12}, minmax(0,1fr) );
snippet repeat
	repeat( ${1:12}, minmax(0,1fr) )
snippet gap
	gap: var(--gutter);
snippet --
	var(--${1:page-margin})
